#home-page{
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100vw;

    text-align: center; 
}

#home-page .logo{
    width : 200px;
    margin: auto;

    padding: 1rem 0px 2rem 0px;
}

button{
    cursor: pointer;
}

/* login */

.left-home .background{
    height: 100vh;
    max-width: 60vw;

    object-fit: cover;
    box-shadow: -3px 0px 100px 2px var(--b_gray);
}

.right-home {
    display: flex;
    flex-grow: 1;
    min-width: fit-content;

    padding: 0 30px;
}

.right-home form{
    display: flex;
    flex-direction: column;
    min-width: 300px;

    margin: auto;
    margin-left: 0px;
    padding: 1.25rem;

    border-radius: 0.5rem;
    background-color: var(--bg_white);
    box-shadow: 0px 0px 40px 4px var(--b_light_gray);
}

.right-home form *{
    z-index: 2;
}

.right-home .login-error{
    position: absolute;
    top: -80%;

    font-size: 0.75rem;
}

.right-home .login-type {
    display: flex;
    position: relative;
    cursor: pointer;

    margin-bottom: 0.75rem;
    padding: 0.25rem;

    font-size: 1rem;
    text-align: center; 
}

.right-home .login-type-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height:100%;
    z-index: 1;
    
    border-radius: 1rem;
    background-color: var(--bg_blue);
}

.right-home .login-type label {
    z-index: 2;
    width: 100%;
}

.right-home .login-type input{
    display: none;
}

.right-home .login-type input:nth-child(1) + label {
    color: var(--b_black);
    transition: color 0.1s 0.1s;
}

.right-home .login-type input:nth-child(1):checked + label{
    color: var(--white);
    transition: color 0.2s 0.1s;
}

.right-home .login-type input:nth-child(1):checked ~ .login-type-bg{
    transform: translateX(0);
    transition: transform 0.5s;
}

.right-home .login-type input:nth-child(3) + label {
    color: var(--b_black);
    transition: color 0.1s 0.1s;
}

.right-home .login-type input:nth-child(3):checked + label{
    color: var(--white);
    transition: color 0.2s 0.1s;
}

.right-home .login-type input:nth-child(3):checked ~ .login-type-bg{
    transform: translateX(100%);
    transition: transform 0.5s;
}

.right-home .form-button{
    display: inline-flex;
    justify-content: space-between;
}

.right-home .login-button, .right-home .signup-button{
    width:100%;
    margin-right: 0.75rem;
    padding: 0.5rem;

    color: var(--white);
    
    border:none;
    border-radius: 0.25rem;  
}

.right-home .login-button{
    background-color: var(--bg_blue);
}

.right-home .login-button:hover{
    background-color: var(--bg_dark_blue);
}

.right-home .signup-button{
    background-color: var(--bg_green);
}

.right-home .signup-button:hover{
    background-color: var(--bg_dark_green);
}

.forgot-link{
    width: 100%;
    padding-top: 0.5rem;
    margin: 0px auto 0px;
    position: relative;
    top: 0.75rem;

    font-size: 0.75rem;
    text-align: left;
    
    border-top: 1px solid var(--b_gray); 
}

.forgot-link a{
    color: var(--bg_dark_blue);
    text-decoration: none;
}

.forgot-link span{
    text-decoration: underline;
    padding-left: 0.5rem ;
}

@media only screen and (max-width:720px ) {
    .right-home{
        height: 100vh;
        background-color: var(--bg_light_gray);
    }

    .left-home .background{
        display: none;
    }

    .right-home form{
        margin:auto;
        transform: translateY(-100px);
    }

}