/* Navbar */

.nav-bar {
    position: absolute;
    top: 0;
    width: 100%;
}

.nav-ul-icon {
     display: none;
}

.nav-ul-icons {
    width: 1.5rem;
    height: 1.5rem;
    filter: invert(1);
}

.nav-ul-text{
    display: inline;
}

nav{
    width: 100%;
    display: flex;
    position: absolute;
    
    height: 4rem;
     
    align-items: center;

    font-size: 1rem;
    color: var(--white); 

    box-shadow: 2px 2px 20px 1px var(--b_gray);
    background-color: var(--bg_dark_blue);
    z-index: 10; 
}

.logo img{
    padding: 0.5rem 0.75rem;
    display:inline;
    width:max-content;
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    height: 100%;

    flex-grow: 1;
    align-items: center;
    justify-content: right;
  }
  
nav ul li {
    padding: 0px 10px;
    display: inline;
    position: relative;
    cursor: pointer;

    margin-left: 10px;
}

nav ul li span{
    height: fit-content;
}

nav ul li span:hover::after{
    content: "";
    position: absolute;
    width: 70%;
    height: 2px;
    top: 94%;
    left: 15%;

    text-decoration: underline;
    
    border-radius: 1px;
    background-color: var(--white);
}


.profile{
    position: relative;
    width: 60px;

    margin: auto;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.profile .userpic{
   height: 2.25rem;
   width: 2.25rem;

   border-radius: 1.5rem;
   border: 3px solid var(--b_blue);
   background-color: var(--white);
}

.profile .logout-option{
    position: absolute;
    top: 100%;
    right:0px;
    z-index: -1;
    width: 400px;
    display: flex;
    flex-direction: column;
   
    padding: 10px;
    justify-content: center;

    box-shadow: 1px 1px 10px 1px var(--b_dark_gray);
    background: var(--white);
}

.profile .field-block{
    display: flex;
}

.profile  .input-field-2 {
    margin: 10px;
}

.profile  .input-field-2 input{
    height: auto;
    padding-top: 4px;
}

.edit-form{
    display: flex;
    flex-direction: column;
}

.edit-form error{
    width: 300px;
    top: calc(100% + 4px);
    left: 0;
}

.edit-profile{
    width: fit-content;
    height: 180px;
    margin:auto;
    position: relative;
    text-align: center;
}

.edit-profile > img{
    width: 10rem;
    height: 10rem;

    margin-top: 0.75rem;

    border-radius: 100px;
    border: 2px solid transparent;
    outline: 4px solid var(--b_blue)
}

.edit-profile input{
    display: none;
}

.edit-profile  .new-pic{
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    bottom: 2rem;
    right: 0.75rem;

    padding: 3px;

    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 1px 0px 6px 1px var(--b_dark_gray);
}

.edit-profile .delete-pic{
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 1.25rem;
    right: 0.75rem;
    
    padding: 3px;

    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 1px 0px 6px 1px var(--b_dark_gray);
}

.edit-form .button-block{
    margin: 0.75rem;
    padding-bottom: 0.25rem;

    border-bottom: 2px solid var(--b_blue);
}

.edit-form .save-button{ 
    width: 100%;

    padding: 0.5rem;

    color: var(--white);

    background-color: var(--bg_dark_blue);
    border:none;
    border-radius: 4px;
}

.edit-form .save-button:hover{
    background-color: var(--bg_blue);
}

.edit-form .password-pattern{
    width: 360px;
}

.logout {
    position: absolute;
    top: 10px;
    right: 10px;
}

.logout button{
    color: var(--white);
    
    padding: 0.5rem 0.75rem;

    border: none;
    border-radius: 4px;
    background-color: var(--bg_dark_red);
}

.logout button:hover{
    background-color: var(--bg_red);
}

.logout-all{
    cursor: pointer;
    text-align: center;
}

.logout-all a{
    color: var(--red);
    font-size: 14px;
}

@media only screen and (max-width:720px ) {
    .profile .logout-option{
        max-width: calc(100vw - 20px);
    }
    
    .nav-ul-icon {
        display: inline;
   }

    nav ul li span:hover::after{
        top : calc(100% + 4px);
    }
   
   .nav-ul-text{
       display: none;
   }
}

@media only screen and (max-width:360px ){
    .logo{ 
        display: none;
    }
}