#signup-page{
    position: relative;
    text-align: center;
}

#signup-page .logo{
    width : 200px;
    margin: auto;
}

.signup-bg {
    position: absolute;
}

.signup-bg img{
    width: 100vw;
    height: 100vh;

    object-fit: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.signup-form{
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 2rem;
}

.signup-form form{
    background-color: var(--white);
    z-index: 2;
    position: relative;

    margin: auto;
    padding: 1rem;
    transform: translateY(-20px);

    border-radius: 8px;
}

.signup-form .login-type {
    display: flex;
    position: relative;
    cursor: pointer;
    width: max-content;
    top: 1.5rem;

    margin-bottom: 0.75rem;
    padding: 0.25rem;
    margin-left: 0.75rem;

    text-align: center;
}

.signup-form .login-type-bg{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;

    border-radius: 1rem;
    background-color: var(--bg_blue);
}

.signup-form .login-type label {
    z-index: 2;
    width: 90px;

    padding: 0px 1rem;
}

.signup-form .login-type input{
    display: none;
}

.signup-form .login-type input:nth-child(1) + label {
    color: var(--b_black);
    transition: color 0.1s 0.1s;
}

.signup-form .login-type input:nth-child(1):checked + label{
    color: var(--white);
    transition: color 0.2s 0.1s;
}

.signup-form .login-type input:nth-child(1):checked ~ .login-type-bg{
    transform: translateX(0);
    transition: transform 0.5s;
}

.signup-form .login-type input:nth-child(3) + label {
    color: var(--b_black);
    transition: color 0.1s 0.1s;
}

.signup-form .login-type input:nth-child(3):checked + label{
    color: var(--white);
    transition: color 0.2s 0.1s;
}

.signup-form .login-type input:nth-child(3):checked ~ .login-type-bg{
    transform: translateX(100%);
    transition: transform 0.5s;
}


.signup-form .field-block{
    display: flex;
}

.signup-form  .input-field-2{
    padding: 0.75rem;
}

.signup-form .signup-button{
    width: 100%;
    margin-top: 1rem;

    padding: 0.5rem;

    color: var(--white);

    border:none;
    border-radius: 4px;
    background-color: var(--bg_green);
}

.signup-form .signup-button:hover{
    background-color: var(--bg_dark_green);
}

.signup-form .signup-error{
    font-size: 0.75rem;
    color: red;
}

.login-link{
    width: 90%;
    border-top: 1px solid var(--b_gray);
    padding-top: 1rem;
    margin: 0.5rem auto 0px;    
}

.login-link a{
    color: var(--dark_blue);
    text-decoration: none;
}

.login-link span{
    padding-left: 0.5rem;

    font-weight: 700;
    text-decoration: underline;
}

.login-link span:hover{
    color: var(--green);
    font-weight: 700;
}
