.course-page, .home-page{
    display: flex;
    width: 100vw;
    min-height: 100vh;
    position: relative;

    margin-top: 4rem;

    overflow-x: clip;
}

/* home-page */
.main-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: calc(100% - 260px);
    z-index: 1;
}

.main-container .card-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    justify-content: center;
}

.main-container  .load-more{
    width: 100%;
    text-align: center;
}

.home-page .course-search-bar{
    display: flex;
    
    margin: 1.25rem;

    border-radius: 0.75rem;
    border: 1px solid var(--b_light_gray);
}

.home-page .course-search-bar input{
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
    padding: 0.5rem;
}

.home-page .course-search-bar label{
    padding: 10px;

    background-color: var(--bg_blue);
    border-radius: 12px;
}


/* Course Page */
.course-table, .module-table{
    display: flex;
    flex-direction: column;
    width: 260px;
    min-width: 260px;
    max-width: 260px;
    max-height: 100vh;
    position: sticky;
    top: 0px;
    transform: translateX(0);
    
    font-size: 1rem;
    
    background-color: var(--bg_white);  
}

.course-table.ng-hide .pagination , .module-table.ng-hide .pagination{
    opacity: 0;
}

.course-table.ng-hide-add .pagination , .module-table.ng-hide-add .pagination{
    transition: opacity 0.2s;
}

.course-table.ng-hide-remove .pagination , .module-table.ng-hide-remove .pagination{
    transition: opacity 1s;
}


.course-table.ng-hide{
    transform: translateX(-200%);
    min-width: 0px;
    width: 0px;
}

.module-table.ng-hide{
    transform: translateX(200%);
    min-width: 0px;
    width: 0px;
}

.course-table.ng-hide-add, .module-table.ng-hide-add {
    transition:  width 1.5s, min-width 1.5s, transform 1s;
}

.course-table.ng-hide-remove, .module-table.ng-hide-remove{
    transition: width 1s, min-width 1s,  transform 1s;
}

.course-table ul {
    padding: 0px;
    list-style: none;
    margin: 0px;
}


.list-title{
    position: relative;
    overflow-x: clip;
    display: flex;

    padding-bottom: 0.5rem;
    margin: 1.25rem;
    justify-content: space-between;

    color: var(--blue);
    font-size: 1.5rem;
}

.list-title .options{
    display: flex;
    align-items: center;

    padding-right: 0.75rem;
}

.list-title .options .sort{
    position: relative;

    padding-right: 0.75rem;
}

.list-title .options .sort input:checked ~ .sort-by{
    display: block;
}

.list-title .options .sort .sort-by{
    position: absolute;
    display: none;
    right: 0px;
    top: 100%;
    width: 140px;
    z-index: 5;
    
    padding: 0px 1.25rem 0px 0px;

    font-size: 0.75rem;
    color: var(--black);
    background-color: var(--bg_white);
    box-shadow: 2px 0px 8px 1px var(--b_light_gray);
}

.list-title .options .sort .sort-by .sort-option{
    padding: 10px 10px 4px;
    border-top: 1px solid var(--b_light_gray);
}

.list-title .options .sort .sort-by input:checked + label{
    color: var(--blue)
}
.list-title .options .sort .sort-by input + label:hover{
    color: var(--blue);
}


.list-title::after{
    content: "";
    width: 30%;
    position: absolute;
    top: 100%;
    left: 0;

    border: 2px solid var(--b_blue);
}


.course-list, .module-list{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex-grow: 1;
}

.course-label{
    position: relative;
}

.course-label label{
    display: flex;
    min-height: 2.5rem;
    overflow-x: wrap;
    position: relative;
    z-index: 2;

    justify-content: space-between;
    align-items: center;
    margin: 0.75rem 1.25rem 0.125px;
    padding: 0.75rem 1.25rem 0.75rem 0.625rem;
   
    border: 1px solid transparent;
    border-radius: 1rem;
    background-color: var(--bg_white);
}

.course-label label:hover{
    z-index: 4;

    border: 1px solid var(--b_blue);
    color: var(--blue);
}

.course-label input[type=radio]:checked + label{
    z-index: 4;

    border: 1px solid transparent;
    color: var(--black);
}

.course-label input[type=radio]:checked + label:hover{
    color: var(--blue);
}

.course-label input[type=radio]:checked + label::after{
    content: "";
    position: absolute;
    left: 10px;
    bottom: 0;
    width: 30%;

    border: 1px solid var(--b_blue);

    animation: course-label-select 1s;
}

@keyframes course-label-select {
    from { width: 0%}
    to {width: 30%}
}

.course-label label:hover .arrow{
    animation: arrow-movement 1.6s infinite;
}

@keyframes arrow-movement {
    0% {
        right: 20px;
    }
    50% {
       right: 26px; 
    }
    100% {
        right: 20px;
    }
}

.course-label .arrow{
    position: absolute;
    right: 20px;
}

.course-label .arrow img{
    width: 10px;
    height: 10px;
}

.new-course label:hover{
    border: 1px solid var(--b_green);
    color: var(--green);
}



.module-label{
    min-height: 30px;
    text-underline-offset: 4px;
}

.module-label:hover{
    text-decoration: underline;
}


/* Course Card */

.course-card-container{
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;

    padding: 0.75rem 1.25rem 0rem;
}

.course-card{
    background-color: var(--bg_white);  
}

.course-card .block, .module-card .block{
    width : 100%;
    min-height: 50px;
    position: relative;    

    padding: 0.75rem 0.75rem 1.5rem 0.75rem;

    background-color: var(--bg_white);
}

.course-card .poster{
    position: relative;
    text-align: center;
}

.course-card .poster .main{
    width : 22.5rem;
    height : 12.5rem;
    object-fit: cover;
    position: relative;
}

.course-card .poster .bg{
    width : 100%;
    height : 13rem;
    position: absolute;
    top : 0px;
    left : 0%;

    object-fit: cover;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    opacity: 98%;
    
    border: 1px solid var(--b_black);
}

.course-card .poster .new-poster{
    position: absolute;
    top: 10px;
    right: 50px;

    background-color: var(--bg_white);
    border-radius: 24px;
}

.course-card .poster .delete-poster{
    position: absolute;
    top: 10px;
    right: 10px;

    background-color: var(--bg_white);
    border-radius: 24px;
}

.course-card .poster label img{
    width : 32px;
    height:  32px;

    padding: 4px;
}


.course-card .pin{
    position: absolute;
    min-width: 90px;
    bottom: calc(100% - 0.75rem);
    
    padding: 0.25rem 0.5rem;
    text-align: center;

    font-size: 0.75rem;
    color: var(--white);
    text-transform: capitalize;

    border-bottom: none;
    background-color: var(--blue);
    border-radius: 4px 4px 0px 0px;
}

.course-card  .enrolled{
    right: 10px;
    bottom: 100%;
    min-width: 60px;
    left: auto;
    display: flex;

    padding-left : 0.25rem;
    justify-content: space-between;

    color: var(--black);
    
    background-color: var(--bg_white);
    
    animation: enrolled 1s 0.5s 1;
}

@keyframes enrolled {
    from {bottom: 50%; opacity: 0%;}
    to {bottom: 99%; opacity: 100%;}
}

.course-card input,.module-card input, .course-card textarea, .input , .textarea{
    width: 100%;

    padding: 0.5rem 0.35rem;

    border: 1px solid var(--b_light_gray);
}

.input {
    background-color: var(--white);
}
.course-card textarea,  .textarea{
    border-bottom-left-radius: 4px;
}

.course-card  input:focus,.module-card  input:focus, .course-card textarea:focus {
    border:1px solid var(--b_blue);
    outline: none;
}

.course-card  input:disabled, .module-card  input:disabled{
    background-color: var(--bg_white);
    color: var(--gray);
}

.course-card .title, .module-card .title{
    width: 100%;
    display: flex;
    flex-direction: row;

    font-size: 1rem;
    letter-spacing: 1px;

    background-color: var(--blue);
}

.course-card  .title label, .module-card .title label{
    min-width: 5.5rem;
    
    padding: 0.5rem 0.5rem;
    text-align: center;
    align-self: center;

    font-size: small;
    color: var(--white);
    text-transform: uppercase;
}



.course-card .description{
   resize: vertical;
   width: 100%;
   min-height: 120px;

   font-size: 0.875rem;
}


.course-card .chapter-table{
    width: 100%;
    
    border-collapse: collapse;
    border: 1px solid var(--b_light_gray);
    background-color: var(--bg_white);
}

.course-card .chapter-table  tr:nth-child(odd){
    background-color: var(--bg_light_purple);
}

.course-card .chapter-table th{
    border-bottom: 1px solid var(--b_light_gray);
}

.course-card .chapter-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-card .chapter-slno{
    width: 60px;
    padding: 8px;
}

.course-card .chapter-slno input{
    width:100%;
    border: none;
    outline: none;
    padding: 0px 0.75rem;
    background-color: transparent;
}

.course-card .chapter-title{
    flex-grow: 1;

    padding: 0.5rem 0.75rem; 

    border-left: 1px solid var(--b_light_gray);
    border-right: 1px solid var(--b_light_gray);
}

.course-card .chapter-options{
    width: 100px;
    display: flex;

    padding: 0.5rem;
    justify-content: space-around;
    align-items: center;
}

.course-card .chapter-options img{
    width: 1.5rem;
    height: 1.5rem;
}

.course-card .chapter-action{
    padding: 0.125rem 0.5rem;
    
    color: var(--blue);
    font-size: 0.75rem;
    
    border-radius: 4px;
    border: 1px solid var(--b_blue);
}

.course-card .chapter-action:hover{
    color: var(--white);
    background-color: var(--bg_blue);
}

.course-card .chapter-delete:hover{
    transform: translate(0px , -2px);
}

.course-card .chapter-create{
    padding: 0.25rem 1.25rem;
    
    color: var(--green);
    font-size: 0.75rem;

    border-radius: 4px;
    border: 1px solid var(--b_green);
}

.course-card .chapter-create:hover{
    color: var(--white);
    background-color: var(--bg_green);
}

.course-card .save-button, .module-card .save-button, .course-card .delete-button, .module-card .delete-button, .course-card .enroll-button{
    border: none;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
}

.course-card .enroll-button{
    background-color: var(--bg_green);
    color: var(--white);
}

.course-card .enroll-button:hover{
    background-color: var(--bg_dark_green)
}

.course-card .save-button,.module-card .save-button{
    background-color: var(--bg_blue);
    color: var(--white);
}

.course-card .save-button:hover, .module-card .save-button:hover{
    background-color: var(--bg_dark_blue);
}

.course-card .delete-button, .module-card .delete-button{
    margin-left: 6px;

    background-color: var(--bg_red);
    color: var(--white);
}

.course-card .delete-button:hover, .module-card .delete-button:hover{
    background-color: var(--bg_dark_red);
}

.instructor-detail{
    border-bottom: 1px solid var(--b_light_gray);
    padding: 10px !important;
}

.instructor-detail .instructor-pic{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    
    border: 2px solid transparent;
    outline: 2px solid var(--b_blue);
    margin-right: 10px;
}

.instructor-detail .instructor-email{
    padding: 1rem 0.75rem 0.75rem;
    margin-top: 0.75rem;
    border-top: 1px solid var(--b_light_gray);
}

.instructor-detail .instructor-email div strong{
    min-width: 7.5rem;
}

.module-card, .course-card{
    z-index: 3;
    flex-grow: 1;
    min-width: 360px;
    max-height: 100%; 
    height: auto;

    background-color: var(--bg_white);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 2px 0px 6px 1px var(--b_gray);
}

.module-card{
    padding-top: 10px;
}

.module-card.ng-hide , .course-card.ng-hide{
    max-height: 1px;
    height: 1px;
    overflow: clip;
}

.module-card.ng-hide-add, .course-card.ng-hide-add{
    transition:  max-height 1.5s, height 1.5s step-end;
}

.module-card.ng-hide-remove, .course-card.ng-hide-remove{
    transition:  max-height 1.5s, height 1.5s;
}

.module-card .block{
    padding-bottom: 16px;
}







/* instructor - student */
.student-container{
    flex-grow: 1;
    max-width: 100%;
}

.student-table{
    width: 100%;
    max-width: 100%;

    border-collapse: collapse;
    border: 1px solid var(--b_light_gray);
    background-color: var(--bg_white);
}

.student-table  tr:nth-child(odd){
    background-color: var(--bg_light_purple);
}

.student-table th{
    border-bottom: 1px solid var(--b_light_gray);
}

.student-table .sort-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.student-table .sort-container span{
    flex-grow: 1;
    text-align: center;
}

.student-table .student-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.student-table .student-slno{
    width: 3.5rem;
    padding: 0.5rem;
    text-align: center;
}

.student-table .student-firstname, .student-table .student-lastname,.student-table .student-email, .student-createdAt{
    min-width: 5rem;
    padding: 0.5rem;
    border-right: 1px solid var(--b_light_gray);
    border-left: 1px solid var(--b_light_gray);
}

.student-createdAt{
    text-align: center;
}

.student-table .student-email{
    flex-grow: 1;
}

.student-table .student-options{
    text-align: center;
    padding: 0.5rem;
}

.student-table .student-details{
    width: 28px;
}

.student-table .student-details:hover{
    animation: infi-transform 0.4s 1;
    transform: translateX(8px);
}

@keyframes infi-transform {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateX(8px);
    }
    
}

.student-table .student-empty{
    padding: 0.75rem;
    font-style: italic;
}



.student-profile{
    background-color: white;
    position: sticky;
    top: 0;
    width: 280px;
    max-height: 100vh;
    display: flex;

    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;

    transform: translateX(0);
}


.student-profile.ng-hide{
    transform: translateX(200%);
    width: 0px;
}

.student-profile.ng-hide-add{
    transition: transform 1s,  width 1.5s;
}

.student-profile.ng-hide-remove{
    transition: transform 1.5s, width 1s;
}

.student-profile .container{
    flex-grow: 1;
}

.student-profile input{
    padding-bottom: 2px;
    padding-left: 2px;
}

.student-profile input:disabled{
    background-color: transparent;
    color: var(--black);
}

.student-profile .edit-form{
    position: relative;
}

.student-profile .edit-form .field-block{
    padding-top: 16px;
}

.student-profile label{
    font-size: 10px;
    position: absolute;
    left: 12px;
    color: var(--gray);
}

.student-profile .close{
    width: 1.25rem;
    position: absolute;
    top: 2.25rem;
    right: 1rem;
}



@media only screen and (max-width:1024px ) {

    .course-table, .module-table , .student-profile{
        position: fixed;
        top: 0rem;
        z-index: 100;
        height: 100vh;
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.315);
        max-width: 100vw;
    }

    .module-table, .student-profile{
        right: 0;
    }

    .course-card-container {
        padding: 10px 0px 0px;
    }

    .student-container{
        max-width: 100vw;
    }
}
